penRGB(255, 0, 0);
penUp();
moveTo(20, 250); //Start Position of A
penDown();
turnRight(25);
moveForward(60);
turnRight(130);
moveForward(60);
penUp();
moveTo(30, 230);
turnLeft(65);
penDown();
moveForward(35);
penUp();
moveTo(85, 255); //Start Position of N
penRGB(255, 165, 0);
penDown();
turnLeft(90);
moveForward(50);
turnRight(150);
moveForward(60);
turnLeft(150);
moveForward(50);
penUp();
moveTo(135, 255); //Start Position of I
penRGB(255, 234, 0);
penDown();
moveForward(50);
penUp();
moveTo(155, 255); //Start Position of K
penRGB(0, 128, 0);
penDown();
moveForward(50);
moveBackward(28);
turnRight(45);
moveForward(40);
moveBackward(40);
turnRight(85);
moveForward(40);
penUp();
moveTo(200, 260); // Start Position of E
penRGB(0, 0, 255);
turnLeft(130);
penDown();
moveForward(50);
turnRight(90);
moveForward(30);
moveBackward(30);
turnRight(90);
moveForward(25);
turnLeft(90);
moveForward(30);
moveBackward(30);
turnRight(90);
moveForward(25);
turnLeft(90);
moveForward(30);
penUp()
moveTo(260, 265); // Start Position of T
penRGB(191, 64, 191);
turnLeft(90);
penDown();
moveForward(55);
turnLeft(90);
moveForward(20);
moveBackward(45);
penUp()