<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "hangman" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>Welcome to Hangman!</strong></h1>
        <!-- <h2 class="text-black">Here is your random word</h2>
        <h4 id="myword"></h4> -->

        <table>
            <tr><td><button class="editbtn">A</button></td><td><button class="editbtn">H</button></td><td><button class="editbtn">A</button></td><td><button class="editbtn">H</button></td><td><button class="editbtn">A</button></td><td><button class="editbtn">H</button></td><td><button class="editbtn">A</button></td></tr>
            <tr><td><button class="editbtn">O</button></td></tr>
            <tr><td><button class="editbtn">edit</button></td></tr>
        </table>
    </div>
    <script>
        const http = new XMLHttpRequest()

        http.open("GET", "http://127.0.0.1:9999/randomword")
        http.send()
        http.onload = () => { 
            console.log(http.responseText);
            const elem = document.getElementById('myword');
            elem.innerHTML = http.responseText;
        }

    </script>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}    