penUp();              <!--allows the pen to move without drawing on the screen-->
moveTo(20, 180);      <!--moves the pen to the set coordinates-->
penDown();            <!--allows the pen to move in order to drawing on the screen-->
moveBackward(80);     <!--moves the pen backwards by the set distance-->
turnRight(90);        <!--turns right by the set degress-->
moveForward(40);      <!--moves the pen forward by the set distance-->
penUp();
moveForward(15);
turnLeft(90);         <!--turns left by the set degress-->
moveForward(80);
turnRight(180);
penDown();
moveForward(80);
turnLeft(90);
moveForward(40);
turnLeft(90);
moveForward(80);
penUp();
turnRight(90);
moveForward(65);
penDown();
moveBackward(50);
turnRight(90);
moveForward(80);
turnLeft(90);
moveForward(50);
penUp();
moveForward(15);
turnLeft(75);
penDown();
moveForward(85);
turnRight(150);
moveForward(85);
moveBackward(42.5);
turnRight(105);
moveForward(22);
penUp();
turnLeft(90);
moveForward(40);
turnLeft(90);
moveForward(50);
penDown();
moveForward(40);
turnLeft(90);
moveForward(40);
turnLeft(90);
moveForward(40);
turnRight(90);
moveForward(40);
turnRight(90);
moveForward(40);
penUp();
moveTo(0, 0);    <!--Moves the pen to better display the name-->

