penUp();
moveTo(50, 350);
penDown();
moveTo(50, 300);
turnRight(90);
moveTo(75, 300);
turnRight(90);
moveTo(75, 325);
turnRight(90);
moveTo(50, 325);
turnRight(225);
moveTo(75, 350);
penUp();
moveTo(85, 325);
turnTo(360);
penDown();
moveTo(85, 300);
turnRight(90); 
penUp();
moveTo(85,325);
penDown();
moveTo(110, 325);
turnLeft(90);
moveTo(110, 300);
turnRight(180);
penUp();
moveTo(110, 325);
penDown();
moveTo(110, 350);
turnRight(90);
moveTo(85, 350);
penUp();
moveTo(120, 350);
turnRight(90);
penDown();
moveTo(120, 300);
turnRight(90);
moveTo(145, 300);
turnRight(90);
moveTo(145, 325);
turnRight(90);
moveTo(119, 325);
penUp();
moveTo(145, 324);
turnLeft(90);
penDown();
moveTo(145, 350);
penUp();
moveTo(155, 350);
turnRight(180);
penDown();
moveTo(155, 300);
turnRight(135);
moveTo(180, 350);
turnLeft(135);
moveTo(180, 300);