<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
import { createApp } from 'vue'
<!- This variable sets name of browser tab  -->
{% set project = "About Me" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Soham Kamat</strong></h1>
        <p class="text-secondary">Soham Kamat is a high school student who has created this flask server as a part of AP Computer Science Principals. Here are some of my links below:</p>
        <div>
          <a href="https://github.com/Soham360/csp-fastpages" class="btn btn-primary">My Fastpages Blog</a>
          <a href="https://github.com/Soham360" class="btn btn-primary">My Personal GitHub</a>
        </div>
    <style>
    table,
    td {
       border: 1px solid #333;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <p class="text-secondary">Here is my class schedule below:</p>

    <table>
        <thead>
            <tr>
                <th colspan="2">School Schedule</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Period 1 </td>
                <td> Mrs. Callicott </td>
            </tr>
            <tr>
                <td> Period 2 </td>
                <td> Mr. Campillo </td>
            </tr>
            <tr>
                <td> Period 3 </td>
                <td> Mrs. Bueller </td>
            </tr>
            <tr>
                <td> Period 4 </td>
                <td> Mrs. James </td>
            </tr>
            <tr>
                <td> Period 5 </td>
                <td> Mr. Yeung </td>
            </tr>
           
        </tbody>
    </div>
    </table>

    
    <button type="button" onclick="alert('Hello world!')">Click Me!</button>


    <p>Click the button to return the value of its value attribute.</p>
    
    <button id="Letter" value="A" onclick="LetterInWord()">A</button>
    <button id="Letter" value="B" onclick="LetterInWord()">B</button>
    <button id="Letter" value="C" onclick="LetterInWord()">C</button>
    <button id="Letter" value="D" onclick="LetterInWord()">D</button>
    <button id="Letter" value="E" onclick="LetterInWord()">E</button>
    <button id="Letter" value="F" onclick="LetterInWord()">F</button>
    <button id="Letter" value="G" onclick="LetterInWord()">G</button>
    <button id="Letter" value="H" onclick="LetterInWord()">H</button>
    <button id="Letter" value="I" onclick="LetterInWord()">I</button>
    <button id="Letter" value="J" onclick="LetterInWord()">J</button>
    <button id="Letter" value="K" onclick="LetterInWord()">K</button>
    <button id="Letter" value="L" onclick="LetterInWord()">L</button>
    <button id="Letter" value="M" onclick="LetterInWord()">M</button>
    <button id="Letter" value="N" onclick="LetterInWord()">N</button>
    <button id="Letter" value="O" onclick="LetterInWord()">O</button>
    <button id="Letter" value="P" onclick="LetterInWord()">P</button>
    <button id="Letter" value="Q" onclick="LetterInWord()">Q</button>
    <button id="Letter" value="R" onclick="LetterInWord()">R</button>
    <button id="Letter" value="S" onclick="LetterInWord()">S</button>
    <button id="Letter" value="T" onclick="LetterInWord()">T</button>
    <button id="Letter" value="U" onclick="LetterInWord()">U</button>
    <button id="Letter" value="V" onclick="LetterInWord()">V</button>
    <button id="Letter" value="W" onclick="LetterInWord()">W</button>
    <button id="Letter" value="X" onclick="LetterInWord()">X</button>
    <button id="Letter" value="Y" onclick="LetterInWord()">Y</button>
    <button id="Letter" value="Z" onclick="LetterInWord()">Z</button>
    <button id="Letter" value="." onclick="LetterInWord()">.</button>
    <button id="Letter" value=" " onclick="LetterInWord()">_</button>
    
    <p id="demo"></p>

    <script>
    function LetterInWord() {
        var x = document.getElementById("Letter").value;
        document.getElementById("demo").innerHTML = x;
    }
</script>

        
      




{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}