<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Me" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Soham Kamat</strong></h1>
        <p class="text-secondary">Soham Kamat is a high school student who has created this flask server as a part of AP Computer Science Principals. Here are some of my links below:</p>
        <div>
          <a href="https://github.com/Soham360/csp-fastpages" class="btn btn-primary">My Fastpages Blog</a>
          <a href="https://github.com/Soham360" class="btn btn-primary">My Personal GitHub</a>
        </div>
    <style>
    table,
    td {
       border: 1px solid #333;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <p class="text-secondary">Here is my class schedule below:</p>

    <table>
        <thead>
            <tr>
                <th colspan="2">School Schedule</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Period 1 </td>
                <td> Mrs. Callicott </td>
            </tr>
            <tr>
                <td> Period 2 </td>
                <td> Mr. Campillo </td>
            </tr>
            <tr>
                <td> Period 3 </td>
                <td> Mrs. Bueller </td>
            </tr>
            <tr>
                <td> Period 4 </td>
                <td> Mrs. James </td>
            </tr>
            <tr>
                <td> Period 5 </td>
                <td> Mr. Yeung </td>
            </tr>
           
        </tbody>
      </div>
    </table>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}